<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-10 mx-auto text-center">
      <div class="customer-show justify-content-center d-flex flex-row ">
        <div class="customer-image">
          <%= image_tag @customer.get_profile_image(200,200), class: "customer-show-image" %>
        </div>
        <div class="customer-top">
          <div class="customer-info d-flex flex-column">
            <div class="info-name d-flex flex-row mt-4">
              <p><%= @customer.name %></p>
              <!--  ユーザーの名前が"guestuser"ではないとき、またログインユーザーが@custoemrの時にeditを表示する -->
              <% if @customer.name != "guestuser" && current_customer == @customer %>
                <p><%= link_to "編集", edit_customer_path(@customer), class: "ml-5 btn btn-outline-secondary" %></p>
              <% end %>
              <!-- ログインユーザーとユーザーが相互フォローしている場合chatを表示することができる-->
              <% if current_customer != @customer && current_customer.following?(@customer) && @customer.following?(current_customer) %>
                <p><%= link_to 'chatを始める', chat_path(@customer.id), class: "ml-5 btn btn-outline-success" %></p>
              <% end %>
            </div>
            <ul class="info-count">
              <li>投稿数： <%= @customer.posts.count %></li>
              <li>
                <%= link_to customer_followings_path(@customer.id), class: "follow-count" do %>フォロー： <%= @customer.followings.count %>人<% end %>
              </li>
              <li>
                <%= link_to customer_followers_path(@customer.id), class: "follow-count" do %>フォロワー： <%=@customer.followers.count %>人<% end %>
              </li>
            </ul>
            <div class="info-introduction">
              <%= @customer.introduction %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="custoemr-tag col-md-12 col-lg-10 wrapper mx-auto">
      <ul class="tab d-flex justify-content-center text-center">
        <li><a href="#openposts">公開中</a></li>
        <li><a href="#likedposts">いいね</a></li>
        <% if @customer == current_customer %>
          <li><a href="#closedposts">非公開</a></li>
          <li><a href="#notificationindex">通知</a></li>
        <% end %>
      </ul>
      <div id="openposts" class="area">
        <%= render "public/posts/index", posts: @posts %>
        <%= paginate @posts, param_name: 'posts_page' %>
      </div>
      <div id="likedposts" class="area">
        <%= render "public/posts/index", posts: @like_posts %>
        <%= paginate @like_posts, param_name: 'like_page' %>
      </div>
      <% if @customer == current_customer %>
      <div id="closedposts" class="area">
        <%= render "public/posts/index", posts: @posted, param_name: 'topics_page' %>
        <%= paginate @posted, param_name: 'posted_page' %>
      </div>
      <div id="notificationindex" class="area">
        <%= render "public/notifications/index", notifications: @notifications %>
        <%= paginate @notifications, param_name: 'notice_page' %>
      </div>
      <% end %>
    </div>
  </div>
</div>