<div class="container">
  <div class="row">
    <div class="col-8 offset-2 mt-5">
      <div class="customer-show  d-flex flex-row ">
        <div class="customer-image">
          <%= image_tag @customer.get_profile_image(200,200), class: "customer-show-image" %>
        </div>
        <div class="customer-top">
          <div class="customer-info d-flex flex-column ml-5">
            <div class="d-flex flex-row mt-4">
              <p class="info-name"><%= @customer.name %></p>
              <% if @customer.name != "guestuser" %>
                <p><%= link_to "編集", edit_customer_path(@customer), class: "ml-5 btn btn-outline-secondary" %></p>
              <% end %>
              <% if current_customer != @customer && current_customer.following?(@customer) && @customer.following?(current_customer) %>
                <p><%= link_to 'chatを始める', chat_path(@customer.id), class: "ml-5 btn btn-outline-success" %></p>
              <% end %>
            </div>
            <div class="mt-4 d-flex flex-row">
              <p class="mr-5">投稿数： <%= @customer.posts.count %></p>
              <p class="mr-5">
                <%= link_to customer_followings_path(@customer.id), class: "follow-count" do %>フォロー： <%= @customer.followings.count %>人<% end %>
              </p>
              <p class="mr-5">
                <%= link_to customer_followers_path(@customer.id), class: "follow-count" do %>フォロワー： <%=@customer.followers.count %>人<% end %>
              </p>
            </div>
            <div class="mt-4">
              <%= @customer.introduction %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 mt-3">
      <div class="wrapper">
        <ul class="tab">
          <li><a href="#indexposts">投稿一覧</a></li>
          <li><a href="#likedposts">いいね一覧</a></li>
        </ul>
        <div id="indexposts" class="area">
          <%= render "public/posts/index", posts: @posts %>
        <!--/area--></div>
        <div id="likedposts" class="area">
          <h2>ドリンク</h2>
          <ul>
            <li>ウーロン茶</li>
            <li>オレンジジュース</li>
            <li>ジンジャーエール</li>
          </ul>
        <!--/area--></div>
      </div>
    </div>
  </div>
</div>