<div classs="container">
    <%= render "layouts/errors", obj: @post_comment %>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6 text-center">
            <%= image_tag @post.get_image(500,500), class: "item-image" %>
        </div>
        <div class="col-4">
            <div class="post-show">
                <%= @post.name %>
                <%= @post.body %>
                <%= @post.type.name %>
                <%= @post.alcohol.name %>
                <div class="like-btn">
                    <%= render 'public/likes/like', post: @post %>
                </div>
            </div>
            <div class="comment-index">
                <%= render 'public/post_comments/index', post: @post %>
            </div>
            <div class="error-comment">
                <%= render 'layouts/errors', obj: @post_comment %>
            </div>
            <div class="comment-form">
                <% if current_customer.name != "guestuser" %>
                    <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
                <% end %>
            </div>
        </div>
    </div>
</div>

