<div classs="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6 text-center">
            <%= image_tag @post.get_image(500,500), class: "item-image" %>
        </div>
        <div class="col-4">
            <div class="post-show">
                <%= @post.name %>
                <%= @post.body %>
                <%= @post.type.name %>
                <%= @post.alcohol.name %>
                <% if @post.liked_by?(current_customer) %>
                    <p>
                        <%= link_to post_likes_path(@post), method: :delete do %>
                            <i class="fas fa-beer"></i><%= @post.likes.count %> いいね
                        <% end %>
                    </p>
                <% else %>
                    <p>
                        <%= link_to post_likes_path(@post), method: :post do %>
                            <i class="fal fa-beer"></i><%= @post.likes.count %> いいね
                        <% end %>
                    </p>
                <% end %>
            </div>
        </div>
    </div>
</div>

