  <% customers.each do |customer| %>
    <tr>
      <td><%= link_to customer_path(customer.id) do %>
        <%= image_tag customer.get_profile_image(100,100), class: "customers-show-images" %><% end %>
      </td>
      <td><%= customer.name %></td>
      <td><%= customer.introduction %></td>
      <td><%= render 'public/relationships/follow_button', customer: customer %></td>
      <% if customer.name != "guestuser" %>
        <td><%= link_to customer_followings_path(customer.id), class: "follow-count" do %>フォロー： <%= customer.followings.count %>人<% end %></td>
        <td><%= link_to customer_followers_path(customer.id), class: "follow-count" do %>フォロワー： <%= customer.followers.count %>人<% end %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
