<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-10 mx-auto">
      <h1 id="room" data-room="<%= @room.id %>" data-customer="<%= current_customer.id %>"><%= @customer.name %> さんとのチャット</h1>

      <div class="overflow-auto" id="chat-area">
        <% @chats.each do |chat| %>
          <% if chat.customer_id == current_customer.id %>
            <p class="balloon1-right", style="text-align: right;"><%= chat.message %></p>
            <p class="balloon-right", style="text-align: right;"><%= chat.created_at.strftime('%m/%d %H:%M') %></p>
          <% else %>
            <div class="d-flex flex-row">
              <p class="customers-images mt-5"><%= image_tag chat.customer.get_profile_image(50,50), class: "customer-show-images"  %></p>
              <div class="chat-group">
                <p class="balloon1-left w-70", style="text-align: left;"><%= chat.message %></p>
                <p class="balloon-left", style="text-align: left;"><%= chat.created_at.strftime('%m/%d %H:%M') %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <%= form_with model: @chat, data: {remote: true} do |f| %>
        <div class="field">
          <%= f.text_field :message, class: "chat-field" %>
          <%= f.hidden_field :room_id %>
          <%= f.submit "送信", class: "btn btn-outline-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>