<div class="container">
  <div class="row">
    <div class="col-8 offset-2 mt-5">
      <% @time_lines.each do |time_line| %>
        <div>
          <div class="timeline-customer d-flex flex-row ">
            <div class="customer-info">
              <div class="customer-images">
                <%= image_tag time_line.customer.get_profile_image(100,100) %>
              </div>
              <%= time_line.customer.name %>
            </div>
            <div class="timeline ml-5 mt-3">
              <p>
                <%= time_line.title %>
                <%= link_to "show", admin_time_line_path(time_line), class: "btn btn-outline-secondary ml-5" %>
                <%= link_to "delete", admin_time_line_path(time_line), method: :delete, class: "btn btn-outline-danger" %>
              </p>
              <p><%= time_line.body %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>