<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto text-center2">
      <div class="card">
        <div class="card-title border-bottom"><h2 class="text-center">新規登録</h2></div>
        <%= form_with model: @customer, url: customer_registration_path do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
          <table class="tb01 table table-borderless">
            <tr>
              <th><%= f.label "ユーザー名" %></th>
              <td><%= f.text_field :name %></td>
            </tr>
            <tr>
              <th><%= f.label "メールアドレス" %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr>
              <th><%= f.label "パスワード(6文字以上)" %></th>
              <td><%= f.password_field :password, autocomplete: "new-password" %></td>
            </tr>
            <tr>
              <th><%= f.label "パスワード(確認用)" %></th>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %><%= f.submit "新規登録", class: "ml-3 btn btn-outline-success" %></td>
            </tr>
            <tr>
              <th>登録済の方はこちらからログイン</th>
              <td><%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-secondary" %></td>
            </tr>
            <tr>
              <th>ゲストログイン(閲覧用)</th>
              <td><%= link_to "ゲストログイン", customers_guest_sign_in_path, class: "btn btn-outline-secondary", method: :post %></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>