<%= form_with model: time_line, local: false do |f| %>
  <table class="table">
    <tbody>
      <tr>
        <th><%= f.label "タイトル" %></th>
        <td><%= f.text_field :title, class: "text_area" %></td>
      </tr>
      <tr>
        <th><%= f.label "内容" %></th>
        <td><%= f.text_field :body, class: "text_area" %><%= f.submit "投稿" %></td>
      </tr>
    </tbody>
  </table>
<% end %>