<%= render "layouts/errors", obj: time_line %>
<%= form_with model: time_line do |f| %>
  <table class="tb01 table table-borderless">
    <tbody>
      <tr>
        <th><%= f.label "タイトル" %></th>
        <td><%= f.text_field :title, class: "text_area" %></td>
      </tr>
      <tr>
        <th><%= f.label "内容" %></th>
        <td><%= f.text_field :body, class: "text_area mr-2 w-75" %><%= f.submit "投稿", class: "btn btn-outline-success" %></td>
      </tr>
    </tbody>
  </table>
<% end %>