<% time_lines.each do |time_line| %>
  <div>
    <%= link_to time_line_path(time_line) do %>
      <p><%= time_line.title %>
      <%= time_line.customer.name %>
      <%= link_to "削除",time_line , method: :delete, remote: true %></p>
      <p><%= time_line.body %></p>
    <% end %>
  </div>
<% end %>