<div class="container">
  <div class="row text">
    <div class="col-8 offset-2">
      <div class="timeline-show d-flex flex-row border mt-2 p-2">
        <div class="customer-info">
          <div class="customer-image">
            <%= image_tag @time_line.customer.get_profile_image(200,200) %>
          </div>
          <div class="customer-name text-center">
            <%= @time_line.customer.name %>
          </div>
        </div>
        <div class="timeline ml-5 mt-5">
          <p><%= @time_line.title %>
          <% if current_customer.id == @time_line.customer.id %>
          <%= link_to "削除", @time_line, method: :delete, class: "ml-5 btn btn-outline-danger" %><% end %></p>
          <p class="mt-5"><%= @time_line.body %></p>
        </div>
      </div>
      <div class="time-line-comment-index mt-2">
          <%= render 'public/time_line_comments/index', time_line: @time_line %>
      </div>
      <div class="error-comment">
        <%= render "layouts/errors", obj: @time_line_comment %>
      </div>
      <div class="time-line-comment-form">
        <% if current_customer.name != "guestuser" %>
          <%= render 'public/time_line_comments/form', time_line: @time_line, time_line_comment: @time_line_comment %>
        <% else %>
          <p>新規登録、ログイン後に投稿できます</p>
        <% end %>
      </div>
    </div>
  </div>
</div>