<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-5">
        <div class="card-title border-bottom mb-3"><h2 class="mt-2 ml-5">ログイン</h2></div>
        <%= form_with model: @customer, url: customer_session_path do |f| %>
          <table class="table table-borderless">
            <tr>
              <th><%= f.label :email %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr>
              <th><%= f.label :password %></th>
              <td><%= f.password_field :password, autocomplete: "current-password" %><%= f.submit "ログイン", class: "ml-5 btn btn-outline-success" %></td>
            </tr>
            <tr>
              <th>登録していない方はこちらから</th>
              <td><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-success" %></td>
            </tr>
            <tr>
              <th>ゲストログイン(閲覧用)</th>
              <td><%= link_to "ゲストログイン", customers_guest_sign_in_path, class: "btn btn-outline-secondary", method: :post %></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>


