<!DOCTYPE html>
<html>
  <head>
    <title>Master</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div id="flash">
      <% if flash[:notice] %>
        <div class="text-center position-absolute w-100 bg-primary text-white flash">
          <span><%= flash[:notice] %></span>
        </div>
      <% elsif flash[:danger] %>
        <div class="text-center position-absolute w-100 bg-danger text-white flash">
          <span><%= flash[:danger] %></span>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
